#karena ini dibuat public jadi isi parameternya sendiri sesuai note yagesya

TOKEN_TELE = #masukan token telegram bot 

USER_ZABBIX = #user zabbix
PASS_ZABBIX = #password zabbix
LOGIN_URL_ZABBIX = #login url zabbix
DASHBOARD_HTTPREQ_ZABBIX = #link dashboard http request zabbix
DASHBOARD_EPJL_BALKOT_ZABBIX = #link dashboard epjlp balkot zabbix
DASHBOARD_JAKEVO_APP = #link dashboard dashboard jakevo app

#check endpoint bisa pake intercepor postman di pijar suhu v2

ENDPOINT_NOC = #endpoint noc
ENDPOINT_NOC_BACKUP = #endpoint noc backup
ENDPOINT_PANEL = #endpoint panel
URL_SUHU_V2 = #url suhu pijar v2